<!DOCTYPE html>
<html>
  <head>
    <title>Chart</title>
   
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
